html{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #fff;

}
body {
  font-family: 'GothamProRegular','GothamProBold','GothamProMedium','GothamProLight','VremenaBold','VremenaBoldItalic','VremenaBook','VremenaBookItalic','VremenaMedium','VremenaMediumItalic','VremenaRegular','VremenaItalic' sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: 135;
}
h1 {
  font-family: 'GothamProBold';
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
  z-index: 19;

}
h2 {
  font-family: GothamProBold;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h3 {
  font-family: GothamProBold;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
h4 {
  font-family: GothamProBold;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: black;
}
p{
  font-family: GothamProRegular;
  font-size: 16px;
  font-stretch: normal;
  line-height: 1.25;
  color: black;
  z-index: 33;

}
a{
  font-family: GothamProRegular;
  font-size: 16px;
  font-stretch: normal;
  line-height: 1.25;
  color: black;
}
span{
  font-family: GothamProLight;
  font-stretch: normal;
  line-height: 1.15;
  color: black;
}
.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.container{
  width: 100%;
  justify-content: center;
  margin-bottom: 150px;
  // color:#306948;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  position: relative;
}
.mobile-width{
  width: calc(100% - 60px);
}

// ПЕРВЫЙ ЭКРАН
.first-screen{
  width: 100%;
  height: 650px;
}
.first-screen-backgraund{
  width: 100%;
  max-width: 1350px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
  img{
    width: 1350px;
    position: absolute;
    z-index: 1;
    right: -3%;
    bottom: 0;
  }
}

header{
  width: 100%;
  height: 70px;
  justify-content: flex-start;
  margin-top: 30px;
  z-index: 33;

}
.logo-header{
  width: 200px;
  height: 60px;
  position: relative;
  justify-content: flex-start;
  svg{
    position: absolute;
    z-index: 130;
    left: -43%;
    top: -50%;
    transform: scale(0.5);
    // width: 80%;
  }
  // background: black;
  // margin-right: auto;
}
.nav-header{
  margin-left: auto;
}
.nav-tel{
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 40px;
  :nth-child(1){
    margin-top: 8px;
    margin-bottom: 5px;
  }
  a{
    text-decoration: none;
  }
}
.nav-mail{
  flex-direction: column;
  justify-content: flex-start;
  :nth-child(1){
    margin-top: 8px;
    margin-bottom: 5px;
  }
  a{
    text-decoration: none;
  }
}



// БУРГЕР МЕНЮ
.burger-header{
  position: relative;
  z-index: 120;
  margin-top: 8px;
  width: 40px;
  // height: 40px;
  // background: black;
  margin-left: 30px;
  display: none;
}

#webapp_cover
{
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    width: 25px;
    transform: translateY(-50%) scale(2);
}

#menu_button
{
    width: 24px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #306948;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 8px;
}

#menu_text_bar
{
    top: 16px;
}

#menu_text_bar:before
{
    content: 'eco';
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    color: #306948;
    font-size: 13px;
    font-family: 'GothamProBold', sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -29px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: 29px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-18px;}
    100%{ top:-13px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}













































.first-screen_offer{
  width: 700px;
  margin-top: 150px;
  margin-left: 50px;
  flex-direction: column;
  align-items: flex-start;
  h1{
    margin-bottom: 20px;
  }
  p{
    width: 550px;
    // margin-left: 20px;
  }
}
.first-screen>.wrapper{
  background-image: url(../img/first-screen.png);
  background-size: 105%;
  background-position: 10% 70%;
  background-repeat: no-repeat;
}

.btn {
  /* reset */
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  /* styles */
  position: relative;
  background: linear-gradient(45deg, $gradient-start 10%, $gradient-end 90%);
  background-size: 200% 100%;
  padding: 20px 25px;
  color: white;
  border-radius: 100px;
  font-size: 16px;
  // font-size: 1.3rem;
  font-family: "GothamProMedium";
  transition: .3s;
  animation: bruh 3s linear infinite;
}

@keyframes bruh {
  0% {
  background-position: 0 0;
  }

  50% {
  background-position: 100% 0;
  }

  100% {
  background-position: 0 0;
  }
}
.btn-first-screen{
  margin-top: 50px;
}




// СВОЙСТВА ФОРМЫ ОБРАТНОЙ СВЯЗИ ВСПЛЫВАЮЩЕЙ НА ПРЕВОМ ЭКРАНЕ
.popup-first-screen{
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 130;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);

  &.active{
    display: flex;
  }
}
.form1-container{
  display: flex;
  position: absolute;
  z-index: 132;
  max-width: 550px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
}
.form1-desc {
  margin: 6px 0 30px 0;
}

.form1-left {
  padding: 60px 30px 20px;
  // background: #fff;
  position: relative;
  z-index: 135;
}
.form1-button {
  cursor: pointer;
  outline: 0;
  transition: 0.3s;
  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.form1-right {
  font-size: 0;
  width: 30%;
  overflow: hidden;
  img {
    position: absolute;
    z-index: 134;
    width: 400px;
    height: auto;
    right: -35%;
    top: -23%;
    object-fit: cover;
  }
}
.form1-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;

  a {
    color: rgba(#333, 0.6);
    font-size: 14px;
  }
}
@media(max-width: 750px) {
  .form1-container {
    width: 90%;
  }
  .form1-right {
    display: none;
  }
}


.input-label {
  font-size: 11px;
  font-family: "GothamProRegular", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  transition: 0.3s;
}

.input-block1 {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: rgba(115, 210, 210, 0.8);

    .input-label {
      color: rgba(115, 210, 210, 0.8);
    }
  }
}
.select-block2{
  width: 100%;
  height: 40px;
  font-family: GothamProMedium;
  // padding: 10px 10px 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  background: #fff;

}

.icon-button {
  outline: 0;
  position: absolute;
  z-index: 134;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}
// СВОЙСТВА ФОРМЫ ОБРАТНОЙ СВЯЗИ ВСПЛЫВАЮЩЕЙ ДЛЯ ВЫГОДНЫХ ПРЕДЛОЖЕНИЙ
.popup-profit{
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 130;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);

  &.active{
    display: flex;
  }
}

.select-block2{
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  font-family: GothamProMedium;
  // padding: 10px 10px 8px;
  outline: 0;
  border: 0;
  border: 1px solid #ddd;
  font-size: 16px;
  background: #fff;
}
// СВОЙСТВА ФОРМЫ ОБРАТНОЙ СВЯЗИ ВСПЛЫВАЮЩЕЙ ДЛЯ ОБЛАСТИ ПРИМЕНЕНИЯ
.popup-area{
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 130;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);

  &.active{
    display: flex;
  }
}

.popup-menu{
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: none;
  &.active{
    display: block;
  }

  .nav-tel{
    position: relative;
    top: 150px;
    left: 25%;
    a{
      font-size: 16px;
    }
  }
  .nav-mail{
    position: relative;
    top: 180px;
    left: 25%;
    a{
      font-size: 16px;
    }
  }
}

















































// ОБЛАСТЬ ПОЧЕМУ МЫ
.why-we{
  width: 100%;
  margin-bottom: 50px;
  // height: 650px;
  .wrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 645px;
    h2{
      margin-bottom: 50px;
    }
  }
}
.block-why{
  width: calc(100% - 100px);
  height: 80%;
  // background: #3F51B5;
  justify-content: flex-start;
  align-items: flex-start;
}

.why-reason{
  width: 50%;
  height: 100%;
  // background: #FBC02D;
  h4{
    margin-bottom: 10px;
  }
}
.why-illustration{
  width: 50%;
  height: 100%;
  img{
    margin-top: -200px;
    width: 800px;
    height: auto;
  }
}
.ggg{
  margin-bottom: 20px;
  p{
    display: none;
    color: rgb(121, 121, 121);
  }
}
.ggg:hover{
  p{
    display: inline;
    transition: 1s;
  }
}


// ОБЛАСТЬ ПРИМЕНЕНИЯ ОБОРУДОВАНИЯ
.application-area{
  width: 100%;
  margin-bottom: 90px;
  .wrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2{
      margin-bottom: 50px;
    }
  }
}

$base-color: #303F9F;
$second-color: #3F51B5;
$third-color: #FBC02D;
$site: #303F9F;
$light: #fff;

.grid {
  list-style: none;
  justify-content: space-between;
}

.gc {
box-sizing: border-box;
display: inline-block;
margin-right: -.25em;
min-height: 1px;
// padding-left: 50px;
vertical-align: top;
}
// Колонка с перечнем областей применения
.gc--1-of-3 {
width: 25%;
}
// Блок с визуализацией общий прилегает плотно к колонке
.gc--2-of-3 {
width: 70%;
// overflow: hidden;
}
// Свойства отступа колонки от блока визуализации
.naccs {
width: calc(100% - 100px);
position: relative;
}

.naccs .menu div {
padding: 15px 20px 15px 40px;
margin-bottom: 10px;
// color: $base-color;
// background: $second-color;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
cursor: pointer;
position: relative;
vertical-align: middle;
font-weight: 700;
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
// box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
  position: absolute;
  top: 24px;
  left: 15px;
  background-color: $gradient-start;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
background-color: $gradient-start;
left: 0;
height: 100%;
width: 3px;
top: 0;
border-radius: 0;
}

.naccs .menu div.active {
color: $gradient-start;
padding: 15px 20px 15px 20px;
}

ul.nacc {
width: 100%;
position: relative;
height: 0px;
list-style: none;
margin: 0;
padding: 0;
transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
width: 100%;
height: 100%;
opacity: 0;
transform: translateX(50px);
position: absolute;
list-style: none;
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
transition-delay: .3s;
z-index: 2;
opacity: 1;
transform: translateX(0px);
}

ul.nacc li p {
margin: 0;
}
// БЛОК ОПИСАНИЯ ОБЛАСТИ ПРИМЕНЕНИЯ С КАРТОЧКОЙ ТОВАРА
.area{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 28;
}
// Описание применения товара верхний блок
.text-application-area{
  padding: 20px;
  background: rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 29;
  h4{
    margin-bottom: 20px;
  }
}

.info-application-area{
  width: 100%;
  justify-content: space-between;
}
// Техническое описание товара
.specifications-application-area{
  flex-direction: column;
  justify-content: flex-start;
  width: calc(60% - 5px);
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.603);
  z-index: 28;
  padding: 20px;
  sup{
    font-size: 12px;
    vertical-align: super;
  }
  h3{
    margin-bottom: 10px;
  }
  .specification-application-area-value{
    margin-bottom: 5px;
  }
  :nth-child(10){
    margin-bottom: 0;
  }
}
.specifications-application-area__item{
  margin-top: 15px;
}
// Карточка с товаром и кнопкой
.card-application-area-filtr{
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: calc(40% - 45px);
  min-width: 260px;
  // height: 350px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.603);
  z-index: 28;
  p{
    font-family: GothamProMedium;
    align-self: center;
  }
}
// Позиционирование картинки в карточке товара
.image-application-area-filtr{
  margin: 20px auto 15px;
}
// Свойства картинки карточки товара Металлургия
img.beton{
  height: 200px;
  width: auto;
}
img.derevo{
  height: 200px;
  width: auto;
}
img.metallurg{
  height: 200px;
  width: auto;
}
img.metalloobrabotka{
  height: 200px;
  width: auto;
}
img.pishevayaprom{
  height: 200px;
  width: auto;
}
img.plazma{
  height: 200px;
  width: auto;
}
img.pharma{
  height: 200px;
  width: auto;
}
img.himprom{
  height: 200px;
  width: auto;
}
img.energyprom{
  height: 200px;
  width: auto;
}

// Кнопка в области применения
.btn-application-area{
  width: 70%;
  margin: 30px auto 20px;
}
//  Картинка на заднем плане области применения
img.back-application-area{
position: absolute;
z-index: 21;
}
// Персональные свойства картинок на заднем плане
.back-beton{
  width: 800px;
  height: auto;
  right: -40%;
  bottom: 20%;
}
.back-derevo{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 15%;
}
.back-dobicha{
  width: 800px;
  height: auto;
  right: -40%;
  bottom: 20%;
}
.back-metallurg{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 18%;
}
.back-metalloobrabotka{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 20%;
}
.back-pishevayaprom{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 20%;
}
.back-plazma{
  width: 800px;
  height: auto;
  right: -40%;
  bottom: 20%;
}
.back-pharma{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 20%;
}
.back-himprom{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 20%;
}
.back-energyprom{
  width: 800px;
  height: auto;
  right: -45%;
  bottom: 20%;
}


// АККОРДИОН
.accordion{
  width: calc(100% - 100px);
  flex-direction: column;
  .sphere{
    font-size: 20px;
    padding: 15px 20px 15px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    vertical-align: middle;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  p.sphere:not(:last-of-type){
    margin-bottom: 20px;
  }
}
.ui-state-active{
  // border-left: 3px solid $gradient-start;
  background: $gradient-start;
  color: #fff;
}
.ui-state-focus{
  outline: 0;
  outline-offset: 0;
}

.accordion-area {
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  h4{
    margin: 20px 20px;
  }
  p{
    margin: 0 20px 20px;
    font-size: 14px;
  }
}
.accordion-techspecification {
  width: 100%;
  margin-bottom: 10px;
  .specifications-application-area{
    width: 100%;
    align-self: center;
  }
}
.accordion-imgfilter {
  width: 100%;
  margin-bottom: 10px;
  .card-application-area-filtr{
    width: 100%;
  }
  .btn-application-area{
    width: 250px;
  }
}





// БЛОК С САМЫМИ ВЫГОДНЫМИ ПРЕДЛОЖЕНИЯМИ
.profitable-proposition{
  .wrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2{
      margin-bottom: 50px;
    }
  }
}
.block-proposition{
  width: calc(100% - 100px);
  // height: 80%;
  // border: #ccc solid 2px;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Свойства карточки самых выгодных предложений
.card {
  width: calc(50% - 10px);
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  justify-content: flex-end;
  p{
    font-size: 14px;
  }
}

.card .additional {
  position: absolute;
  width: 200px;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  left: 0;

}

.card:hover .additional {
  width: 100%;
  z-index: 5;
  .more-info{
    display: flex;
    background: linear-gradient(45deg, $gradient-start 10%, $gradient-end 90%);  border-radius: 0 5px 5px 0;

  }
}

.card .additional .user-card {
  width: 200px;
  height: 100%;
  // background-image: url(../img/uc_ciklon.png);
  // background-size: cover;
  // background-position: 10% 30%;
  // background-repeat: no-repeat;
  // position: relative;
  // float: left;
}
.card1{
  // width: 200px;
  // height: 100%;
  background-image: url(../img/filters-value-price/valprice-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.card2{
  // width: 200px;
  // height: 100%;
  background-image: url(../img/filters-value-price/valprice-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.card3{
  // width: 200px;
  // height: 100%;
  background-image: url(../img/filters-value-price/valprice-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.card4{
  // width: 200px;
  // height: 100%;
  background-image: url(../img/filters-value-price/valprice-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  // float: left;
  // position: absolute;
  display: none;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-left: 20px;
}

.card .general {
  background: #fff;
  width: 50%;
  // height: 70%;
  position: relative;
  z-index: 4;
  padding: 20px 10px 0;
  flex-direction: column;
  h2{
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 20px;
  }
}
.prise-block{
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 20px;

  span{
    display: inline-block;
    position: relative;
    // margin-right: 20px;
  }
  // span:after{
  //   content:"";
  //   display:block;
  //   position:absolute;
  //   left:0;top:50%;
  //   color:red;
  //   width:100%;
  //   height:0;
  //   border-bottom:2px solid red;
  //   transform:rotate(-1deg);
  // }
  :nth-child(1){
    &:after{
      content:"";
      display:block;
      position:absolute;
      left:-10%;top:40%;
      color:red;
      width:120%;
      height:0;
      border-bottom:3px solid rgb(68, 145, 100);
      transform:rotate(-1deg);
    }
    // text-decoration: line-through;
    font-family: 'GothamProRegular';
    font-size: 16px;
  }
  :nth-child(3){
    font-family: 'GothamProBold';
    color: rgb(68, 145, 100);
    font-size: 28px;
  }
}
.btn-profit{
  margin-top: 50px;
}

// Область применения самых выгодных предложений
.specifications-profitable-proposition{
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin-top: 10px;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  // background: rgba(255, 255, 255, 0.603);
  z-index: 28;
  // padding: 20px;
  h3{
    margin-bottom: 10px;
  }
  .specification-profitable-proposition-value{
    margin-bottom: 5px;
  }
  :nth-child(10){
    margin-bottom: 0;
  }
}
.specifications-profitable-proposition__item{
  margin-top: 15px;
}
sup{
  font-size: 12px;
  vertical-align: super;
}


.dopspecifications-profitable-proposition{
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  padding: 20px 20px 20px;
  h4{
    margin-bottom: 10px;
    color: #fff;
  }
  p{
    margin-bottom: 10px;
    color: #fff;
  }
}
















// БЛОК С АНИМАЦИЕЙ ДЫМА ИЗ ТРУБЫ
.tube-animation{
  overflow: hidden;
  position: relative;
  z-index: 6;
  height: 200px;
  padding: 0;
  margin-bottom: 50px;
}
img.tube{
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 115;
  left: -10%;
  bottom: 25%;
}
.cloudes{
  width: 7000px;
  height: 100px;
  position: absolute;
  // left: -30%;
  bottom: 30%;
  z-index: -3;
  // align-self: flex-start;
}
.cloude1{
  position: absolute;
  // left: 0;
  z-index: -4;
  background: url('../img/cloude1.png') repeat-x;
  // background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 60%;
  width: 2000px;
  height: 100px;
  animation: waves1 40s infinite linear;
}
.cloude2{
  position: absolute;
  z-index: -3;
  top: 0;
  background: url('../img/cloude2.png') repeat-x;
  background-size: 25%;
  background-position: 50% 40%;
  width: 2000px;
  height: 100px;
  animation: waves1 40s infinite linear;
}
@keyframes waves1{
  0%{margin-left: 0;}
  50%{margin-left: 1200px;}
  95%{opacity: 1;}
  100%{margin-left: 2400px;opacity: 0;}
}


// О НАС С ЦИФРАМИ И ПИСЬМАМИ БЛАГОДАРНОСТИ
.about-us{
  justify-content: center;
  // height: 500px;
  // background: rgb(227, 255, 255);
  // background: linear-gradient(to right, #fff 0% 80%,rgb(207, 255, 255) 90% 100%);
}
.block-about-us{
  // background: #303F9F;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  .block-numbers_item{
    position: relative;
    z-index: 13;
    width: 50%;
    margin-bottom: 50px;
    // min-width: 200px;
  }
  h3{
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;
  }
  span{
    position: relative;
    z-index: 14;
    font-family: GothamProBold;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: rgb(37, 37, 37);
  }
  p{
    position: relative;
    z-index: 14;
    font-family: GothamProRegular;
    font-size: 16px;
    color: black;
  }
  svg{
    height: 75%;
    position: absolute;
    z-index: 12;
    right: 10px;
    top: 0;
  }
}
.block-numbers{
  width: calc(100% - 50px);
  flex-wrap: wrap;
  justify-content: space-around;
  :nth-child(1){
    svg{
      left: -55%;
    }
  }
  :nth-child(3){
    margin-bottom: 100px;
    svg{
      left: -25%;
    }
  }
  :nth-child(4){
    margin-bottom: 100px;
  }
}
.nnn{
  position: relative;
  z-index: 12;
}
// БЛОК С БЛАГОДАРСТВЕННЫМИ ПИСЬМАМИ
.block-thenks{
  justify-content: flex-end;
  // background: #FBC02D;
  height: 100%;
  width: calc(50% - 50px);
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  // border-radius: 6px;
  h3{
    margin-top: 50px;
  }
  .sends-thenks{
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    // img{
    //   width: 300px;
    //   height: auto;
    // }
  }
}
.my-slider{
  width: 300px;
  position: relative;
  z-index: 12;
}
.my-slider_item{
  img{
    width: 300px;
    height: auto;
  }
}
.my-slider>button.slick-prev.slick-arrow>{
  // .slick-prev:before{
  //   color: rgb(97, 226, 243);
  // }
}
// .prev{
//   background-image: url(../img/РЕМОНТ.png);
//   background-size: 200%;
//   width: 50px;
//   height: 50px;
// }

.block-thenks_item{
  max-width: 450px;
  flex-direction: column;
  // background: #333;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 90%;
}




// БЛОК О ТОМ ЧТО ЛЮДИ ПОЛУЧАЮТ
.what-give{
  // height: 700px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  // background: rgb(247, 247, 247);
}
.give{
  align-items: center;
  width: calc(100% - 100px);
  flex-direction: column;
  h2{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.give_item{
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 15;
  padding: 40px 20px;
  background: #fff;
  justify-content: center;
  img{
    width: 50px;
    height: auto;
    margin-bottom: 20px;
  }
  p{
    position: relative;
    z-index: 16;
  }
  p.title-give{
    font-family: GothamProMedium;
    margin-bottom: 10px;
    align-self: flex-start;
  }
}
.block_give{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  :nth-child(1){
    grid-column: 1/3;
  }
  :nth-child(3){
    grid-column: 2/4;
  }
  :nth-child(4){
    grid-row: 2/4;
    // justify-content: center;
  }
  :nth-child(5){
    grid-row: 3/5;
    justify-content: flex-start;
    align-items: center;
    p{
      font-family: GothamProMedium;
      font-size: 24px;
      // width: 200px;
    }
  }
}
img.verif{
  position: absolute;
  z-index: 14;
  width: 300px;
  height: auto;
  right: -12%;
  top: 15%;
}
img.remont{
  position: absolute;
  z-index: 14;
  width: 200px;
  height: auto;
  right: -12%;
  top: 0%;
}
img.moneybox{
  position: absolute;
  z-index: 14;
  width: 200px;
  height: auto;
  right: 0%;
  bottom: -25%;
}
img.arrow-dinamik{
  position: absolute;
  z-index: 14;
  width: 40px;
  height: auto;
  right: 45%;
  bottom: 0%;
  animation: arrow 2s infinite linear;
}

@keyframes arrow{
  0%{bottom: 0%;}
  25%{bottom: 5%;}
  50%{bottom: 10%;}
  75%{bottom: 5%;}
  100%{bottom: 0%;}
}



.first-screen_offer>.modal>.modal-button.btn {
// align-self: flex-start;
// margin-top: 50px;
}
.ddd{
  // height: 800px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.modal {
  margin-top: auto;
  position: relative;
  z-index: 30;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  // background: rgb(115, 210, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: black;
  }

  &-desc {
    margin: 6px 0 30px 0;
  }

  &-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    cursor: pointer;
    outline: 0;
    transition: 0.3s;
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-right {
    flex: 1.75;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);

    .modal-button {
      opacity: 0;
    }

    .modal-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-right img {
      position: absolute;
      transform: scale(1);
      width: 500px;
      height: auto;
      right: -20%;
      top: -10%;
    }

    .modal-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

// .input-button {
//   padding: 8px 12px;
//   outline: none;
//   border: 0;
//   color: #fff;
//   border-radius: 4px;
//   background: rgb(115, 210, 210);
//   font-family: "GothamProMedium", sans-serif;
//   transition: 0.3s;
//   cursor: pointer;

//   &:hover {
//     background: rgb(115, 210, 210);
//   }
// }

.input-label {
  font-size: 11px;
  // text-transform: uppercase;
  font-family: "GothamProRegular", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  // color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: rgba(115, 210, 210, 0.8);

    .input-label {
      color: rgba(115, 210, 210, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}



@media(max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}



// .modal1 {
//   margin-top: auto;
//   position: relative;
//   z-index: 30;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 80px;
//   // background: rgb(115, 210, 210);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   transition: 0.4s;

//   &-container {
//     display: flex;
//     max-width: 720px;
//     width: 100%;
//     border-radius: 10px;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
//     position: absolute;
//     opacity: 0;
//     pointer-events: none;
//     transition-duration: 0.3s;
//     background: #fff;
//     transform: translateY(100px) scale(0.4);
//   }

//   &-title {
//     font-size: 26px;
//     margin: 0;
//     font-weight: 400;
//     color: black;
//   }

//   &-desc {
//     margin: 6px 0 30px 0;
//   }

//   &-left {
//     padding: 60px 30px 20px;
//     background: #fff;
//     flex: 1.5;
//     transition-duration: 0.5s;
//     transform: translateY(80px);
//     opacity: 0;
//   }

//   &-button {
//     // color: darken(#8c7569, 5%);
//     // font-family: "Nunito", sans-serif;
//     // font-size: 18px;
//     cursor: pointer;
//     // border: 0;
//     outline: 0;
//     // padding: 10px 40px;
//     // border-radius: 30px;
//     // background: rgb(255, 255, 255);
//     // box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
//     transition: 0.3s;
    
//     &:hover {
//       border-color: rgba(255, 255, 255, 0.2);
//       // background: rgba(#fff, 0.8);
//     }
//   }

//   &-right {
//     flex: 1.75;
//     font-size: 0;
//     transition: 0.3s;
//     overflow: hidden;

//     img {
//       width: 100%;
//       height: 100%;
//       transform: scale(2);
//       object-fit: cover;
//       transition-duration: 1.2s;
//     }
//   }

//   &.is-open1 {
//     position: absolute;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.15);

//     .modal-button1 {
//       opacity: 0;
//     }

//     .modal-container {
//       opacity: 1;
//       transition-duration: 0.6s;
//       pointer-events: auto;
//       transform: translateY(0) scale(1);
//     }

//     .modal-right img {
//       position: absolute;
//       transform: scale(1);
//       width: 500px;
//       height: auto;
//       right: -20%;
//       top: -10%;
//     }

//     .modal-left {
//       transform: translateY(0);
//       opacity: 1;
//       transition-delay: 0.1s;
//     }
//   }

//   &-buttons {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 30px;
//     margin-bottom: 10px;

//     a {
//       color: rgba(#333, 0.6);
//       font-size: 14px;
//     }
//   }
// }

// .sign-up {
//   margin: 60px 0 0;
//   font-size: 14px;
//   text-align: center;

//   a {
//     color: #8c7569;
//   }
// }

// .input-button {
//   padding: 8px 12px;
//   outline: none;
//   border: 0;
//   color: #fff;
//   border-radius: 4px;
//   background: rgb(115, 210, 210);
//   font-family: "GothamProMedium", sans-serif;
//   transition: 0.3s;
//   cursor: pointer;

//   &:hover {
//     background: rgb(115, 210, 210);
//   }
// }

.input-label {
  font-size: 11px;
  // text-transform: uppercase;
  font-family: "GothamProRegular", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  // color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: rgba(115, 210, 210, 0.8);

    .input-label {
      color: rgba(115, 210, 210, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}



@media(max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}


.footer{
  margin-bottom: 0;
  background: #f8f8f8;
}
.footer-info{
  height: 450px;
  justify-content: space-between;
}
.footer-info-left{
  position: relative;
  z-index: 12;
  img{
    position: absolute;
    z-index: 13;
    bottom: 0%;
    // left: -10%;
    width: 500px;
    height: auto;
  }
}
.footer-info-right{
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 14;
  h3{
    margin-bottom: 20px;
    margin-left: 100px;
  }
  p{
    margin-bottom: 10px;
    margin-left: 100px;

  }
  :nth-child(3){
    margin-bottom: 15px;
  }
  :nth-child(6){
    margin-bottom: 15px;
  }
}